
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">Panels</h3>
					<div class="row">
						<div id="notifications"></div>
						<div class="col-md-12">
							<!-- PANEL HEADLINE -->
							<div class="panel panel-headline">
								<div class="panel-heading">
									<h3 class="panel-title">Custormers reqeust</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								{{#each items}}
								<div class="panel-body">
									<div class="panel-body">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>#</th>
												<th>Name</th>
												<th>Phone</th>
												<th>Address</th>
												<th>Demands</th>
												<th>Total</th>
											</tr>
										</thead>
										<tbody>
											
												{{#cart}}
												<tr>
												<th><img src="{{image}}"  width="80px"  height="60px" alt=""></th>
												<th>{{this.price}}</th>
												<th>{{color}}</th>
												<th>{{size}}</th>
												</tr>
												{{/cart}}
												<tr>
												<th>{{name}}</th>
											</tr>
											<tr><th>{{Total}}</th></tr>
										</tbody>

									</table>

								</div>
							</div>
								{{/each}}
							<!-- END PANEL HEADLINE -->
						</div>
				
		</div>
	
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
